<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">


        $(document).ready(function(){

            setTimeout(function(){//两秒后跳转
                window.location.href = '/loginPage';
            },2000);

        });
    </script>
</head>
<style>
    div {
        padding-top: 25%;
    }
</style>
<body>
<div class="container text-center">
    <h1 th:text="${message}"></h1>
</div>

</body>
</html>